.d-flex {
    display: flex;
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.align-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.hide {
    display: none;
}

.text-28 {
    font-size: 28px;
}

.text-24 {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}

.text-black {
    font-weight: bolder;
}

.text-white {
    color: white;
}

.text-shadow {
    text-shadow: 0px 0px 4px #000;
}

.text-italic {
    font-style: italic;
}