.d-flex {
    display: flex;
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.hide {
    display: none;
}

.text-24 {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}