.d-flex {
    display: flex;
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.align-content-start {
    align-content: flex-start;
}

.align-items-start {
    align-items: flex-start;
}

.align-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.text-18 {
    font-size: 18px;
}

.text-24 {
    font-size: 24px;
}

.text-28 {
    font-size: 28px;
}

.text-bold {
    font-weight: bold;
}

.text-black {
    font-weight: bolder;
}

.text-white {
    color: white;
}

.text-grey {
    color: #999999;
}

.text-red {
    color: #bb0000;
}

.text-shadow {
    text-shadow: 0px 0px 4px #000;
}

.text-italic {
    font-style: italic;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.w-100 {
    width: 100%;
}