#avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 6px 0;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

#open-tab {
    position: absolute;
    top: 10px;
    left: 10px;
}

#save-list {
    margin: 10px 0;
}

textarea {
    font-family: "Merriweather", Georgia, serif;
    font-weight: bold;
    font-size: 16px;
    color: white;

    resize: none;
    height: 16px;
    overflow: hidden;

    background-color: #222;
    border: grey solid 1px;
    padding-left: 5px;
}

textarea:focus {
    outline: none;
}

div > .fa-pen {
    display: none;
}

div:hover > .fa-pen {
    display: inline-block;
}

.actions > a {
    flex-grow: 1;
    flex-basis: 25%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 0.5rem;
}

#donateButton {
    border: 0px;
    display: inline-block;
    border-radius: 4px;
    background: #fc6;
    background: linear-gradient(to bottom,#fff 0%,#fc6 45%,#f90 50%,#f66 100%);
    box-shadow: 0px 0px 1px #fff inset, 0px 0px 0px 1px #f66;
    text-shadow: 0px -1px 0px #fc6, 0px 1px 0px #f66;
    cursor: pointer;
    font-size: 9px;
    font-weight: bold;
    opacity: 0.9;
}

#donateButton:hover {
    border: 0px;
    box-shadow: 0px 0px 4px #fff inset, 0px 0px 0px 1px #f66;
    opacity: 1;
}