#avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 6px 0;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

#save-list {
    margin: 10px 0;
}

textarea {
    font-family: "Merriweather", Georgia, serif;
    font-weight: bold;
    font-size: 16px;
    color: white;

    resize: none;
    height: 16px;
    overflow: hidden;

    background-color: #222;
    border: grey solid 1px;
    padding-left: 5px;
}

textarea:focus {
    outline: none;
}

div > .fa-pen {
    display: none;
}

div:hover > .fa-pen {
    display: inline-block;
}