#snackbar-overlay {
    flex-flow: column wrap;
    max-height: -webkit-fill-available;
    place-content: flex-start;
    pointer-events: none;
    margin-right: 21px;
    width: -webkit-fill-available;
}

.snackbar {
    width: 40%;
    max-height: -webkit-fill-available;
}

.snackbar > .fa-times,
.dialog > .fa-times {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    cursor: pointer;
    pointer-events: all;
}

#dialog-container {
    height: -webkit-fill-available;
}

#dialog-container.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.fade-in {
    animation: fade-in 0.3s ease-out;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fade-out 0.3s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}